---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="inline-block w-auto bg-orange text-white rounded-md px-4 py-3 text-body-base leading-none mx-auto desktop:ml-0"
  href={href}
>
  <slot />
</a>
